doctype html
html(lang="en-US")
	head
		title Kapil Easwar
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="/public/bootstrap-3.1.1/css/bootstrap.min.css", rel="stylesheet", type="text/css")
		
		script(src="/public/jquery/jquery-2.1.1.min.js", type="text/javascript")
		script(src="/public/bootstrap-3.1.1/js/bootstrap.min.js", type="text/javascript")
		
		link(href="/public/css/site-theme.css", rel="stylesheet", type="text/css")
		
		script(src="/public/k/KLogger.js", type="text/javascript")
		script(type="text/javascript").
			var kLogger =  new KLogger({
				level: KLogger.Level.TRACE,
				allowAlerts: true,
				loggerName: 'kLogger'
			});
		
		block head
	
	body
		block bodyHeading
		
		div#content.container
			div.row
				div.col-md-12
					block bodyContent