<html>
<head>
	<%- include parts/prehead.ejs %>
</head>
<body>
	<%- include parts/pageheading.ejs %>
	YOU CARED ENOUGH TO LOOK AT THE PROJECT ON GITHUB AND FOUND THE SPECIAL URL!
	I LIKE YOU ALREADY!
</body>
</html>