body.hasFixedNavbar #content {
	margin-top: 70px;
}

#content {
	padding-top: 12px;
}

@media(max-width: 767px) {
	#navbar {
		margin-bottom: 0;
	}
}

@media(min-width: 768px) {
	html,
	body {
		background: #C4E3F3;
	}
	
	#content {
		background: white;
		border: solid 1px #E7E7E7;
	}
}