//-
	Writes an image tag with the attributes used by k-imgpos.js

	img - the Image object to display

mixin kimgpos(img)
	//-
		TODO how do I get this script to show up in the head only once?
	script(src="/public/k/kimgpos.js", type="text/javascript")

	img(src=img.getUrl(), data-k-imgpos="1", data-k-imgpos-x=img.getCenterX(), data-k-imgpos-y=img.getCenterY())