extends ../layouts/layout.jade
include ../mixins/navbar.jade
include ../mixins/carousel.jade
include ../mixins/linefiller.jade
include ../mixins/image.jade

//-
	The homepage
block bodyHeading
	+carousel(headCarouselId, DATA.HEAD_CAROUSEL_IMAGES, {
			indicators: false,
			controls: false,
			height: '200px',
			usekimgpos: true
		})

	+navbar("navbar", {
			dynamicAffix: true
		})

block body
	+linefiller(60)

block bodyEndResources
	+image_preload(DATA.HEAD_CAROUSEL_IMAGES)