include ../mixins/navbar/navbar.jade

doctype html
html(lang="en-US")
head
	//- TODO why is this rendering inside the body?
	include ../includes/common-head/common-head.jade
body
	| STUFF BEFORE NAVBAR
	+navbar("navbar")
	| WELCOME!