extends ../layouts/layout.jade
include ../mixins/navbar.jade
include ../mixins/carousel.jade
include ../mixins/linefiller.jade

//-
	The homepage
block body
	+carousel('head-carousel', DATA.HEAD_CAROUSEL, {
			indicators: false,
			controls: false,
			height: '200px'
		})
	+navbar("navbar", {
			dynamicAffix: true
		})
	+linefiller(100)