//-
	The landing page of the site

extends ../layouts/layout.jade

include ../mixins/navbar.jade
include ../mixins/carousel.jade
include ../mixins/linefiller.jade
include ../mixins/image.jade

block append headResources
	style(type="text/css").
		#head-carousel {
			height: 200px;
		}

block bodyHeading
	+carousel(DATA.HEAD_CAROUSEL_IMAGES, {
				indicators: false,
				controls: false
			})#head-carousel

	+navbar("navbar", {
				dynamicAffix: true
			})

block body
	+linefiller(60)

block bodyEndResources
	+image_preload(DATA.HEAD_CAROUSEL_IMAGES)