extends ../layouts/layout.jade
include ../mixins/navbar.jade
include ../mixins/carousel.jade
include ../mixins/linefiller.jade

//-
	The homepage
block body
	- var headCarouselId = 'head-carousel';
	- var headCarouselSel = '#' + headCarouselId;
	style(type="text/css").
		body.hasFixedNavbar #{headCarouselSel} {
			display: none;
		}

	+carousel(headCarouselId, DATA.HEAD_CAROUSEL, {
			indicators: false,
			controls: false,
			height: '200px',
			usekimgpos: true
		})

	+navbar("navbar", {
			dynamicAffix: true
		})

	+linefiller(100)