extends ../layouts/layout.jade
include ../mixins/navbar.jade
include ../mixins/projectDetail.jade

//-
	Overview of a project
	
	Params:
		pkey - the key of the project object to display
block body
	- var PROJECT = DATA.PROJECTS[pkey];

	+navbar("navbar", {
			initFixed: true
		})
	
	div.container-fluid
		+projectDetail(PROJECT)