extends ../layouts/layout.jade
include ../mixins/navbar.jade
include ../mixins/projectOverview.jade

//-
	Overview of a category of projects
	
	Params:
		catkey - the key of the category object to display
block body
	- var CATEGORY = DATA.PROJECT_CATEGORIES[catkey]

	+navbar({
				initFixed: true
			})#navbar
		
	div.container-fluid
		h1 My projects for category: #{CATEGORY.name}
		
		- for (var pi in CATEGORY.projects) {
			- var pkey = CATEGORY.projects[pi];
			- var project = DATA.PROJECTS[pkey];
			
			div.row
				div.col-md-12
					+projectOverview(project)
		- }